@font-face {
  font-family: 'Gotham Pro Light';
  src: url('../fonts/GothamPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('../fonts/GothamPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: #292929;
  color: #fff;
  font-family: 'Gotham Pro', sans-serif;
  margin: 0;
}

.header {
  padding-top: 50px;
}

.header-description {
  font-family: 'Gotham Pro Light';
  font-size: 12px;
  letter-spacing: 0.12px;
}

.header-contacts {
  text-align: right;
}

.text-color-red {
  font-family: 'Gotham Pro Medium';
  color: #ff3469;
}

.header-phone {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  display: block;
}

.header-info {
  font-size: 12px;
  font-weight: 400;
  margin-top: 7px;
  display: block;
}

.callback {
  color: #ff3469;
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-top: 16px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.hero {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 77px;
  border-bottom: 1px solid #4c4c4c;
}

.hero-title {
  font-size: 34px;
  margin: auto;
  margin-bottom: 33px;
  text-transform: uppercase;
  letter-spacing: 0.34px;
  font-weight: 500;
  line-height: 1.4;
  max-width: 652px;
}

.hero-description {
  font-size: 18px;
  font-family: 'Gotham Pro Light';
  font-weight: 300;
  letter-spacing: 0.18px;
  text-transform: uppercase;
  margin: auto;
  max-width: 590px;
}

.flowers-slider {
  width: 100%;
  text-align: center;
  margin-top: 87px;
  margin-bottom: 83px;
}

:root {
  --swiper-navigation-size: 18px;
}

.hero-cta {
  display: block;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 400;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  color: white;
  background-color: #ff2e55;
  padding-top: 30px;
  padding-bottom: 26px;
  padding-left: 65px;
  padding-right: 65px;
  margin-top: 36px;
  cursor: pointer;
  border: none;
}

.reviews {
  padding-top: 100px;
  padding-bottom: 50px;
}

.reviews-slider {
  margin-top: 98px;
}

.review-slide {
  padding-left: 60px;
  padding-right: 60px;
}

.review-image {
  width: 220px;
  height: 220px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  font-size: 20px;
  font-family: 'Gotham Pro light';
  position: relative;
  margin-right: 50px;
}
.review-image-1::before,
.review-image-2::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.review-image > * {
  position: relative;
}

.review-image-1 {
  background: #000 url('../img/reviews/review-1.jpg');
}

.review-image-2 {
  background: #000 url('../img/reviews/review-2.jpg');
}

.review-name {
  margin-bottom: 7px;
}

.review-text {
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 1.4;
}

.review-link {
  color: #f24841;
}

.section-title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-weight: 500;
}

.text-red {
  color: #ff1844;
}

.advantages {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 50px;
  border-bottom: 1px solid #4c4c4c;
}

.advantages-wrapper {
  min-height: 85px;
  margin-bottom: 30px;
}

.advantages-title {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-weight: 500;
  max-width: 270px;
  margin: auto;
}

.goods {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-description {
  font-size: 18px;
  letter-spacing: 0.18px;
  text-align: center;
}

.card {
  text-align: center;
  border: 3px solid #ffffff;
  padding: 33px 35px 30px 35px;
  margin-top: 27px;
}

.card-title {
  margin-top: 23px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.card-label {
  font-size: 14px;
  font-weight: 400;
  display: block;
  margin-bottom: 7px;
  margin-top: 20px;
}

.color-label {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.color-input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -9;
}

.color-label.white {
  background-color: #fff;
}

.color-label.biege {
  background-color: #f7b496;
}

.color-label.pink {
  background-color: #ed366e;
}

.color-label.red {
  background-color: #ff0000;
}

.color-label.blue {
  background-color: #12129d;
}

.counter-input {
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  text-align: center;
  color: white;
  background-color: #292929;
  margin-right: 15px;
  margin-left: 15px;
}

.counter-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background-color: #292929;
  border: none;
}

.card-button {
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  padding: 16px 10px 13px 10px;
}

.more {
  font-size: 14px;
  color: #f24841;
  display: block;
  text-align: center;
  margin-top: 39px;
}

.more::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 4px;
  background: url('../img/caret.svg') no-repeat center;
  margin-left: 14px;
  vertical-align: middle;
}

.offer {
  padding: 100px 0;
  background-color: #1a1a1a;
  text-align: center;
}

.offer-link {
  color: #fff;
  text-transform: uppercase;
  display: block;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 65px;
}

.offer-label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  margin-bottom: 22px;
}

.offer-phone {
  font-size: 36px;
  text-decoration: none;
  color: #ffffff;
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu-link {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-menu-item {
  margin-right: 30px;
  margin-bottom: 33px;
}

.social {
  font-size: 16px;
}

.footer-label {
  display: block;
  font-size: 14px;
  margin-bottom: 12px;
}

.footer-info {
  text-align: right;
}

.footer-phone {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  margin-bottom: 11px;
}

.footer-down {
  background-color: #fff;
  padding-top: 48px;
  padding-bottom: 40px;
}

.footer-description {
  color: #292929;
  font-size: 12px;
  font-family: 'Gotham Pro Light';
}

.footer-logo {
  padding-top: 12px;
}

.copyright {
  display: block;
  font-size: 12px;
  text-align: right;
  font-weight: 400;
  letter-spacing: 0.12px;
  color: #101010;
  padding-top: 23px;
}

.copyright-link {
  color: #101010;
}

.modal {
  display: none;
}

.modal-title {
  color: #292929;
}

.modal-input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
}

.modal-button {
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }

  .header-contacts {
    text-align: center;
  }

  .hero {
    padding-top: 50px;
  }

  .hero-title {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.6;
  }

  .hero-description {
    font-size: 16px;
    line-height: 1.6;
  }

  .button {
    padding: 20px 40px;
  }

  .colors {
    max-width: 200px;
    margin: auto;
  }

  .card-label {
    margin: 20px auto;
    display: block;
  }

  .footer-info {
    text-align: left;
  }

  .copyright {
    text-align: left;
  }
}

@media (max-width: 576px) {
  .offer,
  .footer-info,
  .offer-title {
    text-align: left;
  }

  .offer-title,
  .offer-link,
  .offer-phone {
    font-size: 24px;
  }
}
